table {
  width: 100%;
}
.positioned {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
}

.headingMain{
  font-weight: bold;
  font-size: 30px;
}


@media (min-width: 100px) and (max-width: 1000px) {

  .greenButton {
      margin-left: 8px;
      margin-top: 4px;
  }
  .blueButton {
      margin-top: 4px;
  }
}