.headingMain{
    font-weight: bold;
    font-size: 30px;
}

@media (min-width: 100px) and (max-width: 1000px) {

    .greenButton {
        margin-top: 4px;
    }

    .blueButton {
        margin-top: 4px;
    }
}