.headingMain{
    font-weight: bold;
    font-size: 30px;
  }


  @media (min-width: 100px) and (max-width: 1000px) {

    .redButton {
        margin-left: 8px;
        margin-top: 4px;
    }

    .greenButton {
        margin-top: 4px;
    }

    .blueButton {
        margin-top: 4px;
    }
}